* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 45px;
    color: #131313;
    margin-top: 50px;
    margin-left: 220px;
}

nav ul {
    display: flex;
    margin-top: 63px;
    margin-right: 220px;
}

nav ul li {
    list-style: none;
    font-size: 18px;
    color: #424242;
    margin-left: 28px;
}

.div1 {
    text-align: center;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
}

.head1 {
    font-size: 55px;
    color: #131313;
}

.para{
    font-size: 16px;
    margin-top: 28px;
    margin-bottom: 28px;
}

.btn-btn {
    color: #FFFFFF;
    background: #FF900E;
    border: 1px solid orange;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
.banner{
    margin-top:50px;
    margin-right: 240px;
    margin-bottom: 50px;
    margin-left: 240px;
}
.banner img{
    width: 800px;
}
.main-content{
    display: flex;
    justify-content: center;
}
.image-show img{
    width: 240px;
    height: 240px;
}
.image-show{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-top: 80px;
    margin-left: 200px;
}
.font-color{
    color:#131313;
}
.span-color{
    color: #FF900E;
}
.project-div{
    margin-top: 250px;
    margin-right: 250px;
    margin-left: 70px;
}
.head2{
   color: #727272
}
.experience{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-right: 130px;
    margin-left: 130px;
}
.achivments{
    display: flex;
   justify-content: center;
   gap:150px;}

.head-achive{
    color: #131313;
    margin-top: 130px;
    margin-left: 240px;
    font-size: 45px;
}
.para-achive{
    margin-top:30px;
    margin-left: 240px;
}
.sponsor-content{
    text-align: center;
    margin-top: 180px;
}
.sponsor-content h3{
   color: #131313;
   font-size: 45px;
}
.sponsor-content p{
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 50px;
}
.sponsor-image{
   display: flex;
   justify-content: center;
   gap:150px; 
}
.footer{
    text-align: center;
    justify-content: center;
    margin-top: 130px;
    margin-right: 240px;
    margin-bottom: 115px;
    margin-left: 240px;
}